*.obj
*.exe
*.log
*.pdb
*.idb
*.recipe
*.ilk
*.o
**/x64/
**/.vs/
**/Debug/
**.VC.db
**/cpp-language-study-master/

# Binaries
**/bin/
bin-int/
游戏测试素材/
需要的东西/
小笔记/
Intermediates/

# files
*.log
*.ini
提交到GitHub.bat
*.dll
*.pdb
*.pch
*.bat
*.tlog

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
遇到过的问题.docx


# vulkan
*.exe
bfg.jar



